.logo-navbar{
    width: 100px;
    border-radius: 15px;
}

.background-image{
      background-image: url('/static/image/city.png');
      background-size: cover;
      background-repeat: no-repeat;
      padding: -5rem;
}

.kanban-board {
  display: flex;
  overflow-x: auto;
  padding-bottom: 20px;
}


.column {
  width: 250px;
  min-width: 250px;
  background: #fff;
  margin-left: 5px;
  margin-right: 5px;
  flex-shrink: 0;
  border-radius: 4px;
  height: 80vh;
}

.column-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.column-title h5{
  color: #000000;
}

.column-btn{
  font-size: 1.2rem;
  color: #6c757d;
}

.column-body{
  background: #ffffff;
}

.column-card{
  border-radius: 4px;
  margin: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  padding: 5px;
  border: #1a1d20 solid 1px;
  cursor: pointer;
}

