.logo-navbar{
    width: 100px;
    border-radius: 15px;
}

.background-image{
      background-image: url('/static/image/city.png');
      background-size: cover;
      background-repeat: no-repeat;
}

.kanban-board {
  display: flex;
  overflow-x: auto;
  padding-bottom: 15px;
}


.column {
  width: 250px;
  min-width: 250px;
  background-color: rgba(255, 255, 255, 0.50);
  margin-left: 5px;
  margin-right: 5px;
  flex-shrink: 0;
  border-radius: 4px;
  height: 80vh;
}

.column-title{
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  align-items: center;
  padding: 5px;
  border-radius: 4px;
}

.column-title h5{
  color: #000000;
}

.column-btn{
  font-size: 1.2rem;
  color: #6c757d;
}

.column-card{
  border-radius: 4px;
  margin: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  padding: 5px;
  border: #1a1d20 solid 1px;
  cursor: pointer;
  background: #ffffff;
}

.column-card-span{
  background: #157347;
  padding: 3px;
  font-size: 13px;
  color: #ffffff;
  border-radius: 5px;
  display: inline-block;
}

.bnt-add-status{
  margin-top: 15px;
  display: flex;
  background-color: #4CAF50;
  border: none;
  border-radius: 50%;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.div-form-add-status {
  width: 250px;
  display: none;
  background-color: rgba(255, 255, 255, 0.50);
  margin-right: 10px;
  padding: 5px;
  height: 90px;
  z-index: 100;
  border-radius: 5px;
}

.bnt-add-status-form{
  margin: 5px;
  background: #4CAF50;
  border-radius: 5px;
  padding: 5px;
  border: none;
  color: white;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

.div-form-add-status {
    animation: slideIn 0.5s ease-in-out;
}

.bnt-add-status {
    transition: opacity 0.5s ease-in-out;
}

.bnt-add-status.hidden {
    opacity: 0;
    pointer-events: none;
}
