{% extends 'index.html' %}

{% block title %}
    <title>CRM - Opportunity</title>
{% endblock %}

{% block cont %}
    <div class="container-fluid background-image">
        <div class="d-flex justify-content-between align-items-center m-2">
            <h2 class="text-white">Opportunity Kanban</h2>
            <a href="{% url 'opportunity_list' %}" class="btn btn-primary text-decoration-none"><span>Mode List</span></a>
        </div>
        <div class="kanban-board">
            {% for Status in status_list %}
                <div class="column" >
                    <div class="column-title" style="border-bottom: {{ Status.title_color }} solid 2px;">
                        <h5 style="color: {{ Status.text_color }}">{{ Status.title }}</h5>
                            <div class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false"></a>
                              <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'edit_status' Status.id %}">Edit</a></li>
                                <li><a class="dropdown-item" href="{% url 'delete_status' Status.id %}">Delete</a></li>
                              </ul>
                            </div>
                    </div>
                    <div class="column-body">
                        {% for opportunity in opportunities_list %}
                            {% if opportunity.status == Status %}
                                <a href="{% url 'opportunity' opportunity.id %}" class="text-decoration-none">
                                        <div class="column-card">
                                            <strong> N°- {{ opportunity.id }} {{ opportunity.opportunity_name }}</strong><br>
                                            <div class="column-card-span">
                                                <span>{{ opportunity.customer.first_name }} {{ opportunity.customer.last_name }}</span>
                                            </div>
                                        </div>
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}

            <button class="bnt-add-status" onclick="showForm()">
                <i class="bi bi-plus-lg"></i>
            </button>
            <div class="div-form-add-status" id="myForm">
                <form method="POST">
                    {% csrf_token %}
                    <input type="text" class="form-control" placeholder="Title Status..." name="{{ form.title.name }}" id="{{ form.title.id_for_label }}" aria-describedby="{{ form.title.id_for_label }}">
                    <button type="submit" class="bnt-add-status-form">Create</button>
                </form>
            </div>

        </div>
    </div>

{% endblock %}


<div id="detalhes-expandidos" style="display:none;">
    <div class="container mt-5">
        <h2>Opportunity: {{ opportunity.opportunity_name }}</h2>
        <p>Cliente: {{ opportunity.customer.first_name }} {{ opportunity.customer.last_name }}</p>
        <p>Client: {{ opportunity.status.title }}</p>
        <p>Description: {{ opportunity.opportunity_description }}</p>
        <p>Value: {{ opportunity.amount }}</p>
        <!-- Adicione outros detalhes conforme necessário -->
    </div>
</div>

